// ----------
// COLORS
// ----------
$primary: #4d7c8a;
$secondary: #938f60;
$success: #28A745;
$danger: #c02200;
$warning: rgb(107, 159, 255);
$info:rgba(77, 124, 138, .05);
$light: #fdfeff;
$dark: #3c464e;

// ----------
// FONT FAMILY
// ----------

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

  body, h1, h2, h3, h4, h5, h6, p, a {
    font-family: "Source Sans Pro", 'Trebuchet MS', sans-serif, 'Times New Roman';
    color: $dark;
  }


// ----------
// CONATINERS
// ----------
  $container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px
  );

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bootstrap-vue/src/index.scss";



