body {
    width: 100%;
    height: 100%;
  }
  
  // ----------
  // COLORS
  // ----------
  $primary: #4d7c8a;
  $secondary: #938f60;
  $success: #28a745;
  $danger: #c02200;
  $warning: rgb(107, 159, 255);
  $info: rgba(77, 124, 138, 0.05);
  $light: #fdfeff;
  $dark: #3c464e;
  
  // ----------
  // FONT FAMILY
  // ----------
  
  @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
  
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    font-family: "Source Sans Pro", "Trebuchet MS", sans-serif, "Times New Roman";
    color: $dark;
  }
  
  body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .resetPassword {
    width: 92%;
    max-width: 800px;
    padding: 0;
    overflow: hidden;
    margin: 16px auto;
    background-color: $light;
    border-radius: 5px;
    border: #3c464e 1px solid;
    &Header {
      width: 100%;
      padding: 32px 0;
      margin: 0 auto;
      background-color: $primary;
  
      &Welcome {
        width: 100%;
        margin: 0 auto 0 5px;
        padding: 0;
        font-size: 36px;
        font-weight: 600;
        color: $light;
        text-align: center;
      }
      &ShareMania {
        display: flex;
        width: 100%;
        &Logo {
          width: 22px;
          padding: 0;
          margin: 0 5px 0 auto;
        }
        &Text {
          margin: 0 auto 0 5px;
          padding: 0;
          font-size: 48px;
          font-weight: 600;
          color: $light;
        }
      }
      &SubTitle {
        width: 80%;
        margin: 16px auto;
        padding: 0;
        font-size: 20px;
        color: $light;
        font-weight: 400;
        text-align: center;
      }
    }
    &Main {
      margin: 0 auto;
      width: 100%;
      padding: 32px 0 0 0;
      &Title {
        color: $primary;
        font-size: 32px;
        width: 80%;
        text-align: center;
        margin: 0 auto;
        padding: 0;
        &Emoji {
          font-size: 20px;
        }
      }
      &Gif {
        display: flex;
        margin: 0 auto;
        padding: 0;
        max-width: 80%;
        max-height: 300px;
      }
      &SubTitle {
        width: 80%;
        margin: 16px auto;
        padding: 0;
        font-size: 24px;
        color: $secondary;
        font-weight: 400;
        text-align: center;
      }
      &Redirection {
        display: flex;
        margin: 0 auto;
        padding: 0;
        text-decoration: none;
      }
    }
    &Footer {
      width: 100%;
      margin: 32px auto 0 auto;
      padding: 32px 0;
      background-color: $primary;
      &Infos {
        width: 80%;
        margin: 0 auto;
        font-size: 18px;
        color: $light;
        text-align: center;
        font-style: italic;
        font-weight: 100;
      }
    }
  }
  
  .validateButton {
    padding: 16px 32px;
    margin: 0 auto;
    font-family: "Source Sans Pro", "Trebuchet MS", sans-serif, "Times New Roman";
    background-color: $primary;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    color: $light;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      background-color: $dark;
    }
  }
  
  .w-100 {
    width: 100%;
    padding: 16px 0;
  }
  .wrapper {
    margin: 0 auto;
  }
  